#search-input {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 35px;
    width: 300px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#search-btn {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}