.Dictionary input {
    border-radius: 6px;
    font-size: 16px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 6px;
    width: 30%;
    }

#search-btn {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}


#search-btn:hover {
    font-weight: bold;
}

p {
    font-size: calc(10px + 2vmin);
}